body {
  font-family: system-ui;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #33332d;
  color: #fff;
  margin: 0;
  
}

a {
  color: whitesmoke;
}

.title {
  padding: 0;
  background: linear-gradient(to right, #fb5607 0%, hotpink 40%, #8338ec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.navbar > *{
  margin-right: 3rem; 
}

.navbar > *:hover{
  background-color: gray;
}


.flex-wrapper {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;  
}

.blog {
  flex: 1 1 0px;
  align-self: stretch;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: hotpink;
  border-radius: 20px;
  text-align: center;
}

.error {
  color: red;
  background-color: lightcoral;
  border-style: solid;
  border-radius: 2px;
  padding: 1rem;
  width: fit-content;
}

.success {
  color: green;
  background-color: lightcoral;
  border-style: solid;
  border-radius: 2px;
  padding: 1rem;
  width: fit-content;
}
